body {
    background-color: #D1D1F6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h1 {
    color: #0F3097;
}

h4 {
    color: #202076;
}

#images {
    position: relative;
    float: left;
    width:  340px;
    height: 340px;
    border: 1px;
    border-radius: 6px;
    padding: 5px;
}

#img-responsive {
    width: 100%;
    height: auto
}

#descriptions {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    border: 2px;
    border-radius: 6px;
    padding: 5px;
    color: #FFFFFF;
    font-size: small;
    background-color: #689FED;
}

#loveButton {
    background-color: #6060B0;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

#loveButton:hover {
    background-color: #FDF49D;
}