body {
    background-color: #58B49B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

h1 {
    color: #FDF49D;
    text-align: center;
}

h4 {
    color: #FDF49D;
}

#gallery {
    position: relative;
    width:  33%;
    border: 2px;
    border-radius: 6px;
    padding: 5px;
    margin: 4px;
    color: #FFFFFF;
    font-size: small;
}

#image {
    width: 85%;
    border: 6px;
}
#descriptions {
    background-color: #85B3F4; 
    border-radius: 6px;
    padding: 5px;
    margin: 4px;
    color: #FFFFFF;
    font-size: small;
}

/* #image {
    position: relative;
    width:  150px;
    height: auto;
    float: center;
    border: 1px;
    border-radius: 6px;
    padding: 5px;
}

#descriptions {
    position: relative;
    float: center;
    width:  180px;
    height: 180px;
    border: 2px;
    border-radius: 6px;
    padding: 5px;
    color: #FFFFFF;
    font-size: small;
    background-color: #689FED;
} */

#loveButton {
    background-color: white;
    border: none;
    /* color: white; */
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

#loveButton:hover {
    background-color: #FDF49D;
}